@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600&display=swap');


html{
  background-color: rgb(10, 10, 10) !important;
  color: #ffffff;
}
body {
  background-color: rgb(15, 15, 15) !important;
  color:#ffffff;
}

